{
  "env": {
    "browser": true,
    "es2017": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "tsconfigRootDir": ".",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "no-debugger": "warn",
    "space-before-blocks": 2,
    "no-else-return": 2,
    "no-return-await": 2,
    "indent": [2, 2, { "SwitchCase": 1 }],
    "camelcase": 2,
    "no-multi-spaces": 2,
    "no-multiple-empty-lines": [2, { "max": 2, "maxEOF": 0 }],
    "space-infix-ops": 2,
    "no-return-assign": 2,
    "prefer-destructuring": [2, {"object": true, "array": false}],
    "comma-spacing": [2, { "before": false, "after": true }],
    "key-spacing": 2,
    "semi": [2, "never"],
    "comma-dangle": [2, "always-multiline"],
    "eol-last": [2, "always"],
    "spaced-comment": [2, "always"],
    "no-trailing-spaces": 2,
    "curly": [2, "all"],
    "object-curly-spacing": [2, "always"],
    "array-bracket-spacing": [2, "never"],
    "quotes": [2, "single"],
    "max-len": [2, { "code": 80 }],
    "quote-props": [2, "consistent-as-needed"],
    "linebreak-style": [2, "unix"],
    "padded-blocks": [2, "never"],
    "no-unused-expressions": 2,
    "arrow-spacing": [2, { "before": true, "after": true }],
    "space-in-parens": [2, "never"],
    "func-call-spacing": [2, "never"],
    "function-paren-newline": [2, "multiline"],
    "array-bracket-newline": [2, { "multiline": true }],
    "brace-style": [2, "1tbs"],
    "object-shorthand": [2, "always", {
      "avoidQuotes": true,
      "avoidExplicitReturnArrows": true
    }],
    "padding-line-between-statements": [
      2,
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": ["let", "const"], "next": "*" },
      { "blankLine": "any", "prev": ["let", "const"], "next": ["let", "const"] },
      { "blankLine": "always", "prev": ["if"], "next": ["*"] },
      { "blankLine": "always", "prev": ["*"], "next": ["if"] }
    ],

    "@typescript-eslint/type-annotation-spacing": 2,
    "@typescript-eslint/keyword-spacing": 2,

    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-tag-spacing": [2, { "beforeSelfClosing": "never" }],
    "react/jsx-boolean-value": 2,
    "react/jsx-child-element-spacing": 2,
    "react/jsx-closing-bracket-location": [2, "line-aligned"],
    "react/jsx-closing-tag-location": 2,
    "react/jsx-curly-brace-presence": 2,
    "react/jsx-curly-newline": 2,
    "react/jsx-curly-spacing": [2, { "when": "always", "children": true }],
    "react/jsx-equals-spacing": [2, "never"],
    "react/jsx-first-prop-new-line": [2, "multiline"],
    "react/jsx-max-props-per-line": [2, { "when": "always" }],
    "react/self-closing-comp": 2,
    "react/jsx-fragments": 2
  },
  "overrides": [
    {
      "files": ["**/*.spec.ts"],
      "env": {
        "jest": true
      }
    }
  ]
}
